<div>
	
	<div class=" col-sm-3">
		<h1>A</h1>
		<div class="bar-container bar1">
			<div class="bar" style="height: {{percent(question.a,total)}}%"></div>
		</div>
	</div>

	<div class=" col-sm-3">
		<h1>B</h1>
		<div class="bar-container bar1">
			<div class="bar"  style="height: {{percent(question.b,total)}}%"></div>
		</div>
	</div>

	<div class=" col-sm-3">
		<h1>C</h1>
		<div class="bar-container bar1">
			<div class="bar"  style="height: {{percent(question.c,total)}}%"></div>
		</div>
	</div>

	<div class=" col-sm-3">
		<h1>D </h1> 
		<div class="bar-container bar1">
			<div class="bar"  style="height: {{percent(question.d,total)}}%">{{percent(question.d,total)}}</div>
		</div>
	</div>
	
</div>